
.header-container{
    height: 50px;
  
}
ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    float: right;
}
ul li{
    list-style-type: none;
    background: white !important;
    
    text-align: right;
}
li.profile{
    width: 50px;
    height: 50px;
    padding: 10px;
    background: black !important;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bolder;
}
.logout{
    width: 100px;
    height: 40px;
    background: black !important;
    color:white;
    border-radius: 20px 20px;
    padding: 6px;
    border-width: 0px;
    text-align: center;
}
.logout:hover{
    transform: scale(1.02);
    cursor: pointer;
}